<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="logFileDirectory" value="C:\Users\Nikeah\Desktop\" />
    <add key="logFileName" value="StxMCap.DataRetrieval-.txt" />

    <add key="inputFile" value="C:\RedSpiderTech\RedSpiderTech.StockDataNotifier\Data\WatchedStocks.xml"/>

    <add key="messageQueuePort" value="55561"/>
    <add key="messageQueueHost" value="127.0.0.1"/>
    <add key="messageQueueTopic" value="StockDataNotification"/>
  </appSettings>
  
</configuration>